# Dependencies
/node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.local
.env.*.local

# OS artifacts
.DS_Store

# Build output
/build
/dist

# Local frontend workspace
/client/
